@import "../../styles/box-shadow.scss";
@import "../../styles/colors.scss";

.restaurantCard {
	border-radius: 8px;
	border-width: 0.6px;
	box-shadow: $big-box-shadow;
	display: grid;
	grid-template-rows: 1fr auto;
	height: 202px;
	overflow: hidden;
	padding: 16px;
	position: relative;
	width: 327px;
}

.top {
	display: flex;
	gap: 10px;
	margin-bottom: auto;
}

.image {
	position: absolute;
	right: -15px;
	top: -25px;
}

.bottom {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
}

.arrowIcon {
	align-items: center;
	background-color: $green;
	border-radius: 88px;
	display: flex;
	display: inline;
	height: 32px;
	justify-content: center;
	padding: 8px;
	width: 32px;
}
