@import "../../styles/box-shadow.scss";
@import "../../styles/colors.scss";

.chip {
	align-items: baseline;
	border-radius: 88px;
	border-width: 0.6px;
	box-shadow: $small-box-shadow;
	display: flex;
	gap: 4px;
	padding: 8px 12px;
	text-align: center;
	width: fit-content;
}

.openState {
	background-color: $green;
	border-radius: 100px;
	height: 8px;
	width: 8px;
}

.closedState {
	background-color: gray;
	border-radius: 100px;
	height: 8px;
	width: 8px;
}
