@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.filter {
	max-width: 275px;
}

.button {
	align-items: center;
	background: none;
	border-radius: 8px;
	border: $stroke 0.6px solid;
	color: inherit;
	cursor: pointer;
	display: flex;
	height: 31px;
	max-width: 239px;
	min-width: fit-content;
	outline: inherit;
	padding: 0 12px;
}

.selectedFilter {
	background-color: $green;
	color: $off-white;
}

.list {
	display: flex;
	gap: 10px;
	padding: 0;
	overflow-x: scroll;

	@media (min-width: $medium) {
		flex-wrap: wrap;
	}
}
